@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-satoshi: Satoshi, sans-serif;

  --breakpoint-*: initial;
  --breakpoint-2xsm: 375px;
  --breakpoint-xsm: 425px;
  --breakpoint-3xl: 2000px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-current: currentColor;
  --color-transparent: transparent;
  --color-white: #f8f8f8;

  --color-black-2: #010101;
  --color-black: #1c2434;

  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-950: #450a0a;
  --color-red: #ff391e;

  --color-body: #64748b;
  --color-bodydark: #aeb7c0;
  --color-bodydark1: #dee4ee;
  --color-bodydark2: #8a99af;
  --color-primary: #3c50e0;
  --color-secondary: #80caee;
  --color-stroke: #e2e8f0;

  --color-gray-2: #f7f9fc;
  --color-gray-3: #fafafa;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
  --color-gray: #eff4fb;

  --color-graydark: #333a48;
  --color-whiten: #f1f5f9;
  --color-whiter: #f5f7fd;
  --color-boxdark: #24303f;
  --color-boxdark-2: #1a222c;
  --color-strokedark: #2e3a47;
  --color-form-strokedark: #3d4d60;
  --color-form-input: #1d2a39;

  --color-meta-1: #dc3545;
  --color-meta-2: #eff2f7;
  --color-meta-3: #10b981;
  --color-meta-4: #313d4a;
  --color-meta-5: #259ae6;
  --color-meta-6: #ffba00;
  --color-meta-7: #ff6766;
  --color-meta-8: #f0950c;
  --color-meta-9: #e5e7eb;
  --color-meta-10: #0fadcf;

  --color-success: #219653;
  --color-danger: #d34053;
  --color-warning: #ffa70b;

  --text-title-xxl: 44px, 55px;
  --text-title-xxl2: 42px, 58px;
  --text-title-xl: 36px, 45px;
  --text-title-xl2: 33px, 45px;
  --text-title-lg: 28px, 35px;
  --text-title-md: 24px, 30px;
  --text-title-md2: 26px, 30px;
  --text-title-sm: 20px, 26px;
  --text-title-sm2: 22px, 28px;
  --text-title-xsm: 18px, 24px;

  --container-3: 0.75rem;
  --container-4: 1rem;
  --container-7: 1.75rem;
  --container-9: 2.25rem;
  --container-10: 2.5rem;
  --container-11: 2.75rem;
  --container-13: 3.25rem;
  --container-14: 3.5rem;
  --container-15: 3.75rem;
  --container-16: 4rem;
  --container-25: 6.25rem;
  --container-30: 7.5rem;
  --container-34: 8.5rem;
  --container-35: 8.75rem;
  --container-40: 10rem;
  --container-44: 11rem;
  --container-45: 11.25rem;
  --container-60: 15rem;
  --container-70: 17.5rem;
  --container-90: 22.5rem;
  --container-94: 23.5rem;
  --container-125: 31.25rem;
  --container-150: 37.5rem;
  --container-180: 45rem;
  --container-203: 50.75rem;
  --container-230: 57.5rem;
  --container-270: 67.5rem;
  --container-280: 70rem;
  --container-2_5: 0.625rem;
  --container-10_5: 2.625rem;
  --container-22_5: 5.625rem;
  --container-42_5: 10.625rem;
  --container-132_5: 33.125rem;
  --container-142_5: 35.625rem;
  --container-242_5: 60.625rem;
  --container-292_5: 73.125rem;

  --max-height-35: 8.75rem;
  --max-height-70: 17.5rem;
  --max-height-90: 22.5rem;
  --max-height-300: 18.75rem;
  --max-height-550: 34.375rem;

  --min-width-75: 18.75rem;
  --min-width-22_5: 5.625rem;
  --min-width-42_5: 10.625rem;
  --min-width-47_5: 11.875rem;

  --z-index-1: 1;
  --z-index-9: 9;
  --z-index-99: 99;
  --z-index-999: 999;
  --z-index-9999: 9999;
  --z-index-99999: 99999;
  --z-index-999999: 999999;

  --aspect-ratio-4\/3: 4 / 3;
  --aspect-ratio-21\/9: 21 / 9;

  --background-image-video: url('../images/video/video.png');

  --content-icon-copy: url('../images/icon/icon-copy-alt.svg');

  --transition-property-width: width;
  --transition-property-stroke: stroke;

  --border-width-6: 6px;
  --border-width-10: 10px;
  --border-width-12: 12px;

  --shadow-1: 0px 1px 3px rgba(0, 0, 0, 0.08);
  --shadow-2: 0px 1px 4px rgba(0, 0, 0, 0.12);
  --shadow-3: 0px 1px 5px rgba(0, 0, 0, 0.14);
  --shadow-4: 0px 4px 10px rgba(0, 0, 0, 0.12);
  --shadow-5: 0px 1px 1px rgba(0, 0, 0, 0.15);
  --shadow-6: 0px 3px 15px rgba(0, 0, 0, 0.1);
  --shadow-7: -5px 0 0 #313d4a, 5px 0 0 #313d4a;
  --shadow-8: 1px 0 0 #313d4a, -1px 0 0 #313d4a, 0 1px 0 #313d4a,
    0 -1px 0 #313d4a, 0 3px 13px rgb(0 0 0 / 8%);
  --shadow-9: 0px 2px 3px rgba(183, 183, 183, 0.5);
  --shadow-10: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  --shadow-11: 0px 1px 3px 0px rgba(166, 175, 195, 0.4);
  --shadow-12: 0px 0.5px 3px 0px rgba(0, 0, 0, 0.18);
  --shadow-13: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  --shadow-14: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  --shadow-default: 0px 8px 13px -3px rgba(0, 0, 0, 0.07);
  --shadow-card: 0px 1px 3px rgba(0, 0, 0, 0.12);
  --shadow-card-2: 0px 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-switcher: 0px 2px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 2px #ffffff,
    inset 0px -1px 1px rgba(0, 0, 0, 0.1);
  --shadow-switch-1: 0px 0px 5px rgba(0, 0, 0, 0.15);

  --drop-shadow-1: 0px 1px 0px #e2e8f0;
  --drop-shadow-2: 0px 1px 4px rgba(0, 0, 0, 0.12);
  --drop-shadow-3: 0px 0px 4px rgba(0, 0, 0, 0.15);
  --drop-shadow-4: 0px 0px 2px rgba(0, 0, 0, 0.2);
  --drop-shadow-5: 0px 1px 5px rgba(0, 0, 0, 0.2);

  --animate-linspin: linspin 1568.2353ms linear infinite;
  --animate-easespin: easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  --animate-left-spin: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  --animate-right-spin: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  --animate-ping-once: ping 5s cubic-bezier(0, 0, 0.2, 1);
  --animate-rotating: rotating 30s linear infinite;
  --animate-topbottom: topbottom 60s infinite alternate linear;
  --animate-bottomtop: bottomtop 60s infinite alternate linear;
  --animate-spin-1_5: spin 1.5s linear infinite;
  --animate-spin-2: spin 2s linear infinite;
  --animate-spin-3: spin 3s linear infinite;
  --animate-line1: line 10s infinite linear;
  --animate-line2: line-revert 8s infinite linear;
  --animate-line3: line 7s infinite linear;

  @keyframes linspin {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes easespin {
    12.5% {
      transform: rotate(135deg);
    }
    25% {
      transform: rotate(270deg);
    }
    37.5% {
      transform: rotate(405deg);
    }
    50% {
      transform: rotate(540deg);
    }
    62.5% {
      transform: rotate(675deg);
    }
    75% {
      transform: rotate(810deg);
    }
    87.5% {
      transform: rotate(945deg);
    }
    100% {
      transform: rotate(1080deg);
    }
  }
  @keyframes left-spin {
    0% {
      transform: rotate(130deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(130deg);
    }
  }
  @keyframes right-spin {
    0% {
      transform: rotate(-130deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(-130deg);
    }
  }
  @keyframes rotating {
    0%,
    100% {
      transform: rotate(360deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }
  @keyframes topbottom {
    0%,
    100% {
      transform: translate3d(0, -100%, 0);
    }
    50% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes bottomtop {
    0%,
    100% {
      transform: translate3d(0, 0, 0);
    }
    50% {
      transform: translate3d(0, -100%, 0);
    }
  }
  @keyframes line {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(100%);
    }
  }
  @keyframes line-revert {
    0%,
    100% {
      transform: translateY(100%);
    }
    50% {
      transform: translateY(0);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}